﻿@model List<int>
    <div class="row">
        <h2>Customers with win ratio > 60%</h2>
        <div class="col-md-4">
            @if (Model != null)
            {
                foreach (var m in Model)
                {
                    <div>
                        <text>Customer</text>
                        @m
                    </div>
                }
            }
        </div>
    </div>
